@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

* {
    background: #E5E5E5;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 30px;
    line-height: 150%;
}

.logo-alura {
    margin-left: 10px;
    padding-top: 10px;
    width: 2%;
}

main {
    display: flex;
    margin-bottom: 50px;
    margin-left: 80px;
}

.text-area {
    border: none;
    color: #0A3871;
    margin-top: 90px;
    text-transform: lowercase;

}

::placeholder { color: #0A3871;}
    .text-area:focus {
        outline: none;
    }

.mensagem {
    background: white;
    border: none;
    border-radius: 24px;
    color: #0A3871;
    margin-left: 90px;
    margin-top: 20px;
    padding-left: 20px;
    position: fixed;
}

.mensagem:focus {
    outline: none;
}

.botoes {
    display: flex;
    margin-top: 18px;
}

.botao-descriptografar {
    background: #D8DFE8;
    border: 1px solid #0A3871;
    border-radius: 24px;
    cursor: pointer;
    height: 67px;
    margin-left: 30px;
    width: 328px;
}

.botao-criptografar {
    color: white;
    background: #0A3871;
    border: 1px solid #0A3871;
    border-radius: 24px;
    cursor: pointer;
    height: 67px;
    width: 328px;
}

.botao-copiar {
    border: 1px solid #0A3871;
    border-radius: 24px;
    color: #0A3871;
    cursor: pointer;
    height: 67px;
    margin-left: 108px;
    margin-top: 402px;
    position: absolute;
    width: 302px;
}

.informacao {
    color: #495057;
    font-size: 18px;
}

@media screen and (max-width: 460px) {

    * {
        font-size: 30px;
        line-height: 100%;
    }

    .text-area{
        width: 100%;
    }

    .logo-alura {
        width: 10%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    main {
        display: block;
        margin-left: auto;
        width: 100%;
        
    }

    .botao-descriptografar, .botao-criptografar{
        width: 155px;
        font-size: 18px;
    }

    .botao-copiar {
        width: 60%;
        margin-left: 70px;
        top: 390px;
        font-size: 30px;
        
    }

    .mensagem {
        width: 260px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        position: relative;
        }

    .msg {
        font-size: 16px;
        text-align: center;
    }
}